* {
    font-family: 'Libre Franklin', sans-serif;
    font-size: 20px;
    margin: 0;
    box-sizing: border-box;
    font-weight: 300;
    color: hsl(0, 0%, 59%);
}

body, main, html, .img-div img, input, button {
    width: 100%;
}

body {
    justify-content: center;
    align-items: center;
    padding: 15% 7%;
}

main {
    width: 322.5px;
}

body, html {
    height: 100%;
    min-height: 692.84px;
    min-width: 375px;
}

html, body, main, .logo, .top, .mid, .bottom, .img-div, .footer, .input-div, button-div {
    display: flex;
}

main, .mid, .bottom, .top, .logo, .input-div {
    flex-direction: column;
    height: fit-content;
}

.top {
    padding: 0 5% 12% 5%;
}

.top, input {
    text-align: center;
}

.top span, p {
    color: hsl(209, 33%, 12%);
}

h1, .top span {
    font-size: 1.35rem;
}

.top span {
    font-weight: 700;
}

h1 {
    margin-bottom: 5%;
}

.input-div {
    margin-bottom: 3%;
}

p, button, input {
    font-size: 0.7rem;
}

.input-div, .button-div {
    padding: 0 5%;
}

input, button {
    border-radius: 1rem;
    height: 2rem;
    border: 1px solid hsl(223, 100%, 88%);
    padding: 0 5%;
}

button {
    background-color: hsl(223, 87%, 63%);
    color: white;
    box-shadow: 0 0.5rem 0.5rem hsl(223, 100%, 88%);
    font-weight: 600;
}

.logo img {
    width: 20%;
}

.logo img, .footer {
    align-self: center;
}

.logo {
    margin-bottom: 10%;
}

.button-div {
    margin-bottom: 25%;
}

.footer {
    font-size: 0.5rem;
    margin-top: 2%;
}

::placeholder {
    color: hsl(223, 100%, 88%);
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}

#para, #falsepara {
    margin: 2% 0 5% 10%;
    font-style: italic;
    font-size: 0.6rem;
    font-weight: 300;
}

@media (min-width:600px){

    body {
        padding: 5% 0;
    }

    body, html {
        min-height: 940.08px;
        min-width: 600px;
    }

    main{
        width: 600px;
    }

    .logo img{
        width: 15%;
    }

    .mid {
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 10%;
    }

    .input-div {
        flex-basis: 67%;
    }

    .button-div {
        flex-basis: 30%;
        margin-bottom: unset;
    }

    .input-div, .button-div {
        padding: unset;
    }

    input, button {
        height: 2.8rem;
        border-radius: 2rem;
    }

    ::placeholder, input {
        text-align: left;
    }

    input {
        padding-left: 10%;
    }

    .top {
        padding: 0 5% 7% 5%;
    }

    h1 {
        margin-bottom: 3%;
    }

    h1, .top span {
        font-size: 2.2rem;
    }

    .top p {
        font-size: 1.2rem;
    }
}